{% extends 'base.html' %}

{% block head %}
<title>New Post</title>
{% endblock %}


{% block body %}

<br>

<h1>New Post</h1>

<hr>


<h2>Create New Post</h2>
<form action='/posts' method='POST'>
    <label for="title">Title</label>
    <input class="form-control" type="text" placeholder="Enter Title..." name='title' id='title'>
    <br>
    <label for="author">Author</label>
    <input class="form-control" type="text" placeholder="Enter Author..." name='author' id='author'>
    <br>
    <label for="content">Content</label>
    <textarea class="form-control" id="content" rows="8" placeholder="Enter Content..." name='content'></textarea>
    <br>
    <button type="submit" class="btn btn-success" id='submit'>Post</button>
</form>

<hr>


{% endblock %}